# Yandex Cloud
YANDEX_API_KEY=ваш_api_ключ
YANDEX_FOLDER_ID=ваш_folder_id

# Object Storage (S3)
AWS_ACCESS_KEY_ID=ваш_access_key
AWS_SECRET_ACCESS_KEY=ваш_secret_key
BUCKET_NAME=call-audio-ponart
S3_ENDPOINT_URL=https://storage.yandexcloud.net

# VK (опционально)
VK_BOT_TOKEN=ваш_токен
VK_ADMIN_ID=ваш_id

# Telegram (опционально)
TELEGRAM_BOT_TOKEN=ваш_токен